In [2]:
import numpy as np
import pandas as pd

#### Tuning KNN - normalizing distance, picking k Drill

Let's say we work at a credit card company and we're trying to figure out if people are going to pay their bills on time. We have everyone's purchases, split into four main categories: groceries, dining out, utilities, and entertainment. What are some ways you might use KNN to create this model? What aspects of KNN would be useful? Write up your thoughts in submit a link below.

Given: The credit card company starts with this data for scores
- 'total' is dollar amount of purchases on the four categories.  
- 'per01' is the pecent of total spent on this category -  grocery.  
- 'per02' is the pecent of total spent on this category -  dining. 
- 'per03' is the pecent of total spent on this category -  utility. 
- 'per04' is the pecent of total spent on this category -  entertainment.
- 'target' is "pays bill on time?" with 1 for true and 0 for false

Make some **random** data just for fun

In [67]:
A = np.random.randint(21, high=51, size=(1000,4)) 
pers = [pd.Series(a / a.sum()) for a in A]
df = pd.concat(pers, axis=1, sort=False).T
df.columns=['per01', 'per02', 'per03', 'per04']
df['total'] = pd.Series(np.random.randint(12000, high=120000, size=1000))
df['target'] = pd.Series(np.random.randint(0,2,size=1000))
df.head(2)

      per01     per02     per03     per04   total  target
0  0.197368  0.282895  0.190789  0.328947  114124       0
1  0.289855  0.166667  0.195652  0.347826   90453       1

#### Normalize the features

Normalize the features  Analyis confirmed the normality of the purchase percentage features so z scores are used.  The total is determined not to be normal so instead it is normalized within a range of -1.0 to 1.0

In [68]:
zscore = lambda x: (x-x.mean())/x.std()
nrm_11 = lambda x: (x - x.min()) / (x.max() - x.min()) * 2 - 1
df1 = df[['per01', 'per02', 'per03', 'per04']].transform(zscore)
#df1['total'] = (df.total - df.total.min()) / (df.total.max() - df.total.min()) * 2 - 1
df1['total'] = df.total.transform(nrm_11)
df1['target'] = df.target
df1.head(2)

      per01     per02     per03     per04     total  target
0 -0.980853  0.661180 -1.122366  1.376620  0.894087       0
1  0.786010 -1.551153 -1.030010  1.719929  0.455019       1

#### Iterate to select best features

Break your data into train and test sets.  Build KNN models with k=1 for multiple feature combinations.  Select the best model by the prediction score for the test set.

#### Tune your KNN model