In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

## DRILL: Third Attempt

So here's your task. Get rid of as much data as possible without dropping below an average of 90% accuracy in a 10-fold cross validation.

You'll want to do a few things in this process. First, dive into the data that we have and see which features are most important. This can be the raw features or the generated dummies. You may want to use PCA or correlation matrices.

Can you do it without using anything related to payment amount or outstanding principal? How do you know?

In [18]:
df = pd.read_csv('data/y2015.csv', header=0)
df = df.drop(df.columns[0], axis=1)
df = df[:-2]
#y2015.to_csv('data/y2015.csv')

In [23]:
#drop0 = [label for label in df.columns if len(df[label].unique()) >= 100]
drop1 = list(set(drop1) - set(drop0))

In [24]:
#df = df.drop(drop0, axis=1)
df = df.drop(drop1, axis=1)

In [25]:
col_nan = df.columns[np.where(df.isna().any())]
col_flt = df.columns[np.where(df.dtypes == 'float64')]
col_obt = df.columns[np.where(df.dtypes == 'object')]
col_int = df.columns[np.where(df.dtypes == 'int64')]

In [26]:
df.head()

,term,sub_grade,emp_length,home_ownership,verification_status,issue_d,loan_status,purpose,title,delinq_2yrs,...,num_op_rev_tl,num_rev_accts,num_rev_tl_bal_gt_0,num_sats,num_tl_120dpd_2m,num_tl_30dpd,num_tl_90g_dpd_24m,num_tl_op_past_12m,pub_rec_bankruptcies,tax_liens
0,60 months,C5,10+ years,MORTGAGE,Not Verified,Dec-2015,Current,credit_card,Credit card refinancing,0.0,...,9.0,11.0,9.0,11.0,0.0,0.0,0.0,2.0,0.0,2.0
1,36 months,A4,8 years,MORTGAGE,Not Verified,Dec-2015,Current,credit_card,Credit card refinancing,0.0,...,4.0,4.0,3.0,7.0,0.0,0.0,0.0,2.0,0.0,0.0
2,36 months,A4,10+ years,MORTGAGE,Not Verified,Dec-2015,Fully Paid,debt_consolidation,Debt consolidation,0.0,...,5.0,9.0,3.0,9.0,0.0,0.0,0.0,0.0,0.0,0.0
3,36 months,A2,10+ years,MORTGAGE,Not Verified,Dec-2015,Current,debt_consolidation,Debt consolidation,0.0,...,13.0,18.0,9.0,16.0,0.0,0.0,0.0,0.0,0.0,0.0
4,36 months,E3,8 years,RENT,Verified,Dec-2015,Fully Paid,debt_consolidation,Debt consolidation,0.0,...,17.0,17.0,13.0,18.0,NaN,0.0,0.0,12.0,1.0,0.0

In [31]:
df.open_il_6m.unique()

array([ 2.,  3.,  1.,  7.,  5.,  0., 10.,  4., 18.,  9., 15., 11.,  6.,
       14., 12., 19.,  8., 17., 21., 16., 13., 24., 20., 30., 23., 25.,
       31., 22., 26., 33., 32., 34., nan, 27., 28., 40.])

In [ ]:
a = ['term','int_rate'] # digits only
b = ['subgrade', 'emp_length', 'application_type'] #dict transform
c = ['home_ownership', 'loan_status', 'purpose', 'title'] #dict transform unranked
d = ['issue_d', 'last_pymnt_d', 'last_credit_pull_d'] # time
e = ['verification_status_joint', 'verification_status']# combine
f = ['open_acc_6m']# nan

In [32]:
col_flt

Index(['delinq_2yrs', 'inq_last_6mths', 'open_acc', 'pub_rec',
       'collections_12_mths_ex_med', 'policy_code', 'acc_now_delinq',
       'open_acc_6m', 'open_il_6m', 'open_il_12m', 'open_il_24m',
       'open_rv_12m', 'open_rv_24m', 'inq_fi', 'total_cu_tl', 'inq_last_12m',
       'acc_open_past_24mths', 'chargeoff_within_12_mths', 'mort_acc',
       'mths_since_recent_inq', 'num_accts_ever_120_pd', 'num_actv_bc_tl',
       'num_actv_rev_tl', 'num_bc_sats', 'num_bc_tl', 'num_op_rev_tl',
       'num_rev_accts', 'num_rev_tl_bal_gt_0', 'num_sats', 'num_tl_120dpd_2m',
       'num_tl_30dpd', 'num_tl_90g_dpd_24m', 'num_tl_op_past_12m',
       'pub_rec_bankruptcies', 'tax_liens'],
      dtype='object')

In [ ]:
['emp_length', 'title', 'last_pymnt_d', 'last_credit_pull_d',
       'verification_status_joint', '', '', 'open_il_12m',
       'open_il_24m', 'open_rv_12m', 'open_rv_24m', 'inq_fi', 'total_cu_tl',
       'inq_last_12m', 'mths_since_recent_inq', 'num_rev_accts',
       'num_tl_120dpd_2m']

In [22]:
drop1 = ['grade', 'emp_title', 'pymnt_plan', 'url', 'desc','zip_code', 'addr_state', 'earliest_cr_line', 
          'initial_list_status', 'next_pymnt_d']

In [ ]:
pd.DataFrame(index=col_obt)

#### object columns
- 'id' is unique id for each loan
- 'member_id' is unique id for person taking out loan
- 'emp_title' too many values, utility doubted
- 'pymnt_plan' has only one value
- 'url' is unique page for every loan
- 'desc' too many unique values
- 'grade' is further broken down to in sub_grade
- 'subgrade
- 'zip_code' too many unique values
- 'pymnt_plan' only one value

#### NaN columns

In [ ]:
dfn['nan02'] = np.where(dfn.percent_bc_gt_75.isna(), 'nan', 'not')

In [ ]:
sns.set(style="whitegrid")
f, ax = plt.subplots(figsize=(15, 6))
sns.countplot(x='loan_status', data=dfn, hue='nan02',  ax=ax)
#ax.set(ylabel=doz['name'], xlabel=doz['xlabel'])
plt.show()

In [ ]:
col_nft = list(set(col_nan) & set(col_flt))

In [ ]:
gb = dfn.groupby('loan_status').count()

In [ ]:
dfn.loan_status.unique()

In [ ]:
dfn[['loan_status', 'mths_since_last_record', 'mths_since_last_delinq']][dfn.mths_since_last_delinq == np.nan].groupby('loan_status').count()

In [ ]:
A = pd.Series({col : len(np.asarray(getattr(dfn,col).isna()).nonzero()[0].tolist()) / len(dfn) * 100 for col in col_nft})
B = pd.Series({col : len(np.asarray(getattr(dfn,col).unique())) for col in col_nft})
C = pd.Series({col : np.asarray(getattr(dfn,col).max()) for col in col_nft})   
D = pd.Series({col : np.asarray(getattr(dfn,col).min()) for col in col_nft}) 
df1 = pd.DataFrame([A,B,C,D]).T
df1.columns = ['nans', 'unique','max', 'min']
df1

In [ ]:
df1[df1.nans <= 94].T.columns

In [ ]:
dfn[dfn.nans >= 90]

In [ ]:
len(set(cols))

In [ ]:
dfn.mths_since_last_major_derog.max()

In [ ]:
col_nan

In [ ]:
cols = []
 [np.where(getattr(dfn,col).isna()) for col in col_nan]

In [ ]:
col_drop = ['emp_title', 'pymnt_plan', 'desc', 'url','title']

In [ ]:
y2015.dtypes

In [ ]:
[(col, len(y2015[col].unique())) for col in col_obt if len(y2015[col].unique()) <= 100]

In [ ]:
y2015['emp_length'].unique()

In [ ]:
y2015['int_rate'].unique()

In [ ]:
np.where(y2015['int_rate'].isna())

In [ ]:
y2015.loc[np.where(y2015['last_pymnt_d'].isna())]['loan_status'].unique()

In [ ]:
ts = ['Jan-2017', 'Sep-2016', 'May-2016', 'Mar-2016', 'Jul-2016',
       'Jun-2016', 'Nov-2016', 'Aug-2016', 'Dec-2016', 'Oct-2016',
       'Apr-2016', 'Feb-2016', 'Jan-2016', 'Dec-2015', 'Nov-2015',
       'Oct-2015', 'Sep-2015', 'Aug-2015', 'Jul-2015', 'Jun-2015',
       'May-2015', 'Apr-2015', 'Mar-2015', 'Feb-2015', 'Jan-2015']

In [ ]:
y2015['last_pymnt_d'][list(set(np.array(y2015.index)) - set(np.where(y2015['last_pymnt_d'].isin(ts))[0]) )]

In [ ]:
np.array(y2015.index)

In [ ]:
y2015[y2015['last_pymnt_d'] == 'Jan-2017']

In [ ]:
(pd.Timestamp('Jan-2015') - pd.Timestamp('Jan-2015')).days

In [ ]:
[(pd.Timestamp(ts) - pd.Timestamp('Jan-2015')).days for ts in y2015['last_pymnt_d'].unique()]

In [ ]:
convs = [('grade',     {'GFEDCBA'[i]:i for i in range(6)}),
         ('sub_grade', {[char + str(i) for char in 'GFEDCBA' for i in range(5,0,-1)][i]:i for i in range(34,-1,-1)}),
         ('verification_status', {['Not Verified', 'Verified', 'Source Verified'][i]:i for i in range(3)}),   
         ('issue_d ', {['Dec-2015', 'Nov-2015', 'Oct-2015', 'Sep-2015', 'Aug-2015','Jul-2015', 'Jun-2015', 'May-2015',
          'Apr-2015', 'Mar-2015', 'Feb-2015', 'Jan-2015'][i]:i for i in range(12)}),
        ]

In [ ]:
# ordinal rank based upon target mean
def ordinal_by_target(df, tgt, fte):
    rnk  = df.groupby(fte)[tgt].mean().sort_values(ascending=True).index
    return {rnk[i]:i for i in range(len(rnk))}
# functions to clean or tranform columns
# transform using dictionary
def A(srs, arg): 
    assert len(arg) == 1
    return srs.apply(lambda x : arg[0][x])
# linear scale features to approximate range -2 to 2
def B(srs, arg):  
    rng = srs.max()-srs.min()
    mid = srs.max() - rng / 2
    return srs.apply(lambda x : (x - mid) * 4 / rng)
# standardize feature with z score
def C(srs, arg):
    z_score = lambda x: (x-x.mean())/x.std()
    return srs.transform(z_score )    

# dict switch to call funtions
switch = {char:eval(char) for char in 'ABC'}
#
def switch_clean(fnn, srs, arg):
    for f in fnn:       
         srs = switch[f](srs,arg)               
    return srs

In [ ]:
# new columns 
df1['passed'] = np.where(df1.a_scre > 0, 1, 0)
df1['g_avg_'] = np.round(df1.g_tl_s.div(df1.g_tl_n), decimals = 4)
# transform columns
df1.ise_id =  df1.ise_id.add(df1.lea_id * 100)
df1.age_mh =  df1.age_mh.add(222)
# dicts to put features in rank order by target ascending
obts = {x:ordinal_by_target(df1, 'a_scre', x ) for x in a}

In [ ]:
def A(S): # strip()
    return S.apply(lambda x: x.str.strip())
def B(S): # conversion to numeric
    dct = {S.unique()[i]:i for i in range(len(S.unique()))}
    return S.apply(lambda x: dct[x])
def B(S): # cast to numeric
    return pd.to_numeric(S) 
def B(S):  # cast float to int
    return S.apply(lambda x: int(x))
def C(S): # extract by regex 1 or more digits
    return S.apply(lambda x: x.str.extract(r"\b\d+\b")
def D(S): # replace all non-alpha numeric with ' '
    return S.apply(lambda x: x.str.replace(r'\W+', ' ', regex=True))
def E(S): # numeric conversion letter grade A-G 
    dct = {'GFEDCBA'[i]:i for i in range(6)}
    return S.apply(lambda x: dct[x]) 
def E(S): # numeric conversion letter grade A1-G5 
    dct = {[char + str(i) for char in 'GFEDCBA' for i in range(5,0,-1)][i]:i for i in range(34,-1,-1)}
    return S.apply(lambda x: dct[x])                   
def D(S): # replace the  '< 1' with '0' for years
    return S.apply(lambda x: x.str.replace('< 1', '0')                   
                   
def E(S): return S.apply(lambda x: x.str.replace(r'\s{2}', ' ', regex=True)) # replace 2 or more white space with 1



def B(S): return S.apply(lambda x: x.str.replace(r"\Bn't\b", ' not ', regex=True), axis=1)
def C(S): return S.apply(lambda x: x.str.replace(r'\W+', ' ', regex=True), axis=1)
def D(S): return S.apply(lambda x: x.str.replace(r'\d+', ' ', regex=True), axis=1)
def E(S): return S.apply(lambda x: x.str.lower(), axis=1) 
def F(S): return S.apply(lambda x: x.str.replace(r"\bnot\s", 'not', regex=True), axis=1)
def G(S): return S.apply(lambda x: x.str.replace(r'\s{2}', ' ', regex=True), axis=1)  
def H(S): return S.apply(lambda x: x.str.strip(), axis=1)
def I(S): return S.apply(lambda x: x.str.split(), axis=1)
def Z(S): return S
switch = {char:eval(char) for char in 'ABCDEFGHI'}

def switch_clean_column(S, funcs):
    for fun in funcs:
        S = switch[fun](S)              
    return S

In [ ]:
dicts = [{k:v} for k,v in vks]
for dct in dicts:
    switch_clean_column(getattr(df, dct['col']), dct['funcs'])

In [ ]:
['dti', 'delinq_2yrs', 'inq_last_6mths', 'mths_since_last_delinq',
       'mths_since_last_record', 'open_acc', 'pub_rec', ]# to int

In [ ]:
def B(S):  # cast float to int
    return S.apply(lambda x: int(x))

In [ ]:
['emp_title', 'pymnt_plan', 'desc', 'url']# drop
['A']
['BC']['term', ]
['BD']['int_rate', ]
['']['issue_d', 'purpose', 'title']
['emp_length'] # unique cleaning
['dti']# floats

In [ ]:
y2015.total_acc.unique()

In [ ]:
len(y2015.delinq_2yrs.unique())

In [ ]:
y2015.columns

In [ ]:
y2015.dtypes

## The Blind Approach

Now, as we've seen before, creating a model is the easy part. Let's try just using everything we've got and throwing it without much thought into a Random Forest. SKLearn requires the independent variables to be be numeric, and all we want is dummy variables so let's use `get_dummies` from Pandas to generate a dummy variable for every categorical column and see what happens off of this kind of naive approach.

Did your kernel die? My kernel died.

Guess it isn't always going to be that easy...

Can you think of what went wrong?

(You're going to have to reset your kernel and reload the column, BUT DON'T RUN THE MODEL AGAIN OR YOU'LL CRASH THE KERNEL AGAIN!)

## Data Cleaning

Well, `get_dummies` can be a very memory intensive thing, particularly if data are typed poorly. We got a warning about that earlier. Mixed data types get converted to objects, and that could create huge problems. Our dataset is about 400,000 rows. If there's a bad type there its going to see 400,000 distinct values and try to create dummies for all of them. That's bad. Lets look at all our categorical variables and see how many distinct counts there are...

In [ ]:
floats = y2015.select_dtypes(include=['float'])
len(floats)

In [ ]:
y2015.apply()

In [ ]:
np.where(y2015.total_pymnt.astype(str) == 0)

In [ ]:
np.where(y2015.dti.astype(str).str.split(pat='.')[1] == '0')

In [ ]:
len(np.where(y2015.dti.astype(str).str.split(pat='.', expand=True)[1] == '0')[0])

In [ ]:
categorical = y2015.select_dtypes(include=['object'])
for i in categorical:
    column = categorical[i]
    print(i)
    print(column.nunique())

Well that right there is what's called a problem. Some of these have over a hundred thousand distinct types. Lets drop the ones with over 30 unique values, converting to numeric where it makes sense. In doing this there's a lot of code that gets written to just see if the numeric conversion makes sense. It's a manual process that we'll abstract away and just include the conversion.

You could extract numeric features from the dates, but here we'll just drop them. There's a lot of data, it shouldn't be a huge problem.

In [ ]:
# Convert ID and Interest Rate to numeric.
y2015['id'] = pd.to_numeric(y2015['id'], errors='coerce')
y2015['int_rate'] = pd.to_numeric(y2015['int_rate'].str.strip('%'), errors='coerce')

# Drop other columns with many unique variables
y2015.drop(['url', 'emp_title', 'zip_code', 'earliest_cr_line', 'revol_util',
            'sub_grade', 'addr_state', 'desc'], 1, inplace=True)

Wonder what was causing the dtype error on the id column, which _should_ have all been integers? Let's look at the end of the file.

In [ ]:
# Remove two summary rows at the end that don't actually contain data.
y2015 = y2015[:-2]

Now this should be better. Let's try again.

It finally works! We had to sacrifice sub grade, state address and description, but that's fine. If you want to include them you could run the dummies independently and then append them back to the dataframe.

## Second Attempt

Now let's try this model again.

We're also going to drop NA columns, rather than impute, because our data is rich enough that we can probably get away with it.

This model may take a few minutes to run.

In [ ]:
np.where(y2015.id.dtype == 'float64')

In [ ]:
y2015.apply(lambda x: x.isnull().any(), axis=1)

In [ ]:
from sklearn import ensemble
from sklearn.model_selection import cross_val_score

rfc = ensemble.RandomForestClassifier()
X = y2015.drop('loan_status', 1)
Y = y2015['loan_status']
X = pd.get_dummies(X)
X = X.dropna(axis=1)

cross_val_score(rfc, X, Y, cv=10)

The score cross validation reports is the accuracy of the tree. Here we're about 98% accurate.

That works pretty well, but there are a few potential problems. Firstly, we didn't really do much in the way of feature selection or model refinement. As such there are a lot of features in there that we don't really need. Some of them are actually quite impressively useless.

There's also some variance in the scores. The fact that one gave us only 93% accuracy while others gave higher than 98 is concerning. This variance could be corrected by increasing the number of estimators. That will make it take even longer to run, however, and it is already quite slow.

In [ ]:
# Your code here.